.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container {
  margin: 25px auto 0;
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: max-content;
}
.mtt0 {
  margin-top: 0 !important;
}
.row {
  padding: 0 15px;
  display: flex;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 15px 0;
  border-bottom: rgba(221, 221, 221, 0.52) thin solid;
  line-height: 25px;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
}
.nav-icon {
  margin-left: 10px;
  transform: translateY(3px);
}
