@import 'normalize.css';
@import url('../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css');

:root {
  --primary: #3c91e6;
  --white: #fff;
  --text-color: #8c8c8c;
  --nav-height: 50px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}
* {
  box-sizing: border-box;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
input[type='number'] {
  &::-webkit-inner-spin-button {
    opacity: 1;
  }
}
