<form
  style="width: 40%; margin-left: auto; margin-right: auto;"
  method="post"
  action="/api/addlistFilters"
>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nhập Filter</label>
    <input type="text" class="form-control" id="inputItem" name="title" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nhập subFilter</label>
    <input type="text" class="form-control" id="inputItem" name="subfilter" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>