.wrap {
  margin-bottom: 75px;
  width: 100%;
}
.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.2rem;
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.content {
  display: flex;
  color: #959595;
  font-size: 1.4rem;
}
.left {
  width: 50%;
  padding: 0 15px;
}
.right {
  flex: 1;
  padding: 0 15px;
}

.content-email,
.content-password {
  display: flex;
  flex-direction: column;
}
.titleInput {
  font-weight: 400;
  font-size: 1.4rem;
}
.require {
  color: red;
}
.inputName,
.inputEmail,
.inputPassword {
  border: 1px solid #f0f0f0;
  padding: 10px;
  width: 100%;
  margin: 6px 10px 6px 0px;
  outline: none;
  color: #000;
  height: 45px;
  font-size: 1.4rem;
}
.action {
  color: #333333;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.action-recei {
  display: flex;
  color: #959595;
  font-size: 1.4rem;
  input {
    margin-right: 5px;
  }
}
.btn {
  padding: 5px 12px;
  cursor: pointer;
  line-height: 20px;
}
.btn-login {
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    border: 1px solid #2790f2;
    background: #2790f2;
    color: #fff;
  }
}

.icon-lock {
  margin-right: 10px;
}
